body {
  margin: 0;
  background-color: bisque;
}
/* @media different setting by conditions */

button {
  display: block;
}

@media (min-width: 600px) {
  body {
    background-color: coral;
  }

  button {
    display: inline-block;
    color: blueviolet;
  }
}
