.parent {
  width: 100px;
  height: 100px;
  background-color: rgb(235, 255, 13);
  position: sticky;
  top: 50px;
}

.middle {
  width: 75px;
  height: 75px;
  background-color: rgb(215, 142, 16);
}

.child {
  position: sticky;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(169, 37, 0);
}

div {
  background-color: rgb(179, 176, 176);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: background-color 1s;
  transition: box-shadow 1s;
}

div:hover {
  background-color: rgb(177, 177, 238);
  box-shadow: 2px 2px black;
  transform: translate(5px, 10px);
  transform: rotate(90deg);
}
